@import "tailwindcss";

@theme {
  --color-navbar: #131B2F;
  --color-primary: #000614;
  --color-banner: #00D7E1;
  --color-text: #8CA0B3;
  --color-eagle-white: #E3E8F3;
  --color-card: #191F2B;
  --color-placeholder-text: #ABAEB4;
  --color-footer-icons: #00E1E7;
  --color-image-container: #364651;
  --gradient: linear-gradient(114.66deg, #1870f6 62.27%, #32fefe 95.1%);
  --color-button-gradient: var(--gradient);
  --color-footer-gradient: background: var(--gradient);
  --font-poppins: var(--font-poppins);
  --font-openSans: var(--font-openSans);
}

body {
  background-color: var(--color-primary);
}

.btn-gradient {
  background: var(--color-button-gradient);
}

.text-gradient {
  background: linear-gradient(132.39deg, #0207F7 0%, #14FFFF 68.66%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
  border-radius: 50%;
  border: 1px;
  border-image: var(--gradient);
  border-image-slice: 1;
}